name: build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: dart-lang/setup-dart@v1

      - name: Install Dependencies
        run: flutter pub get

      - name: Format
        run: flutter format .

      - name: Analyze
        run: dart analyze .

      - name: run tests
        run: flutter pub run test
